<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>App</title>
  </head>

  <body>
    <h1>ADA BOOK STORE</h1>
    <table>
      <tr>
        <th>ID</th>
        <th>TITLE</th>
        <th>DESCRIPTION</th>
        <th>AUTHOR</th>
        <th>URL</th>
      </tr>
      {{#each books}}
        <tr>
          <td>{{id}}</td>
          <td>{{title}}</td>
          <td>{{description}}</td>
          <td>{{author}}</td>
          <td>
            <a href='books/{{{id}}}' >detail</a>
          </td>
        </tr>
      {{/each}}
    </table>
    <a href="/add-book.html">ADD BOOK</a>
  </body>
</html>